.ol-mouse-position {
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}

#map-tooltip {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  left: 50%;
  transform: translateX(3%);
  visibility: hidden;
  pointer-events: none;
}

.dataButton {
  cursor: pointer;
  position: absolute;
  height: 35px;
  width: 35px;
  z-index: 90;
  background-color: lightgoldenrodyellow;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  top: 10px;
}

#map-download-btn {
  left: 50px;
}

#map-timeseries-btn {
  left: 100px;
}

.dataButton img {
  height: 35px;
  width: 35px;
}

#map-toggle-polygon {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 90;
  border-width: 3px;
  border-radius: 4px;
  text-align: center;
  padding: 7px;
  left: 10px;
  top: 70px;
  cursor: pointer;
}

.toggle-off {
  background-color: white;
  border-color: black;
  color: black;
}

.toggle-on {
  background-color: #eeee33;
  border-color: #ffae00;
  color: #000000;
}

.hidden {
    display:none;
}

.ol-legend:not(.ol-collapsed) {
  padding: 10px 25px 5px 10px;
}


.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px auto;
  height: 500px auto;
  text-align: center;
  background-color: lightblue;
  box-sizing: border-box;
  padding: 10px;
  z-index: 100;
  display: none;
}

.dialog-close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 20px;
  background-color: black;
  color: white;
  border-radius: 25%;
  padding: 4px;
  cursor: pointer;
}

#dialog-modality {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  z-index: 99;
  display: none;
}