.Splash {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 100vw;
  height: 100vh;
  background-color: #242424;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
